.container-contador-caja
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-contador-caja img
{
    width: 65px;
    fill: var(--negro);
}

.container-contador-producto
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-contador-producto img
{
    width: 85px;
    fill: var(--negro);
}

.container-contador, .container-contador-pallet, .container-contador-producto-text
{
    position: absolute;
    bottom: 0px;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.container-contador-producto-text
{
    bottom: 0px;
}

.container-contador-pallet
{
    bottom: 142px;
}

.container-form-cajas
{
    margin: 10px 30px;
    margin-bottom: 0;
    width: calc(100% - 60px);
    background-color: white;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #00000033;
    padding: 25px;
    top: 55px;
    display: inline-grid;
    gap: 15px;
    box-sizing: border-box;
}

.container-cantidad
{
    display: flex;
}

.container-cantidad label
{
    width: 0;
}