.container-contador-caja
{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
}

.container-contador-caja img
{
    width: 65px;
    fill: var(--negro);
}

.container-contador-producto
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-contador-producto img
{
    width: 85px;
    fill: var(--negro);
}

.container-contador, .container-contador-pallet, .container-contador-producto-text
{
    position: absolute;
    bottom: 0px;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.container-contador-producto-text
{
    bottom: 0px;
}

.container-contador-pallet
{
    bottom: 142px;
}

.container-form-cajas, .container-form-eliminar
{
    margin: 0 30px;
    margin-bottom: 0;
    width: calc(100% - 60px);
    height: calc(100% - 160px);
    background-color: white;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #00000033;
    padding: 25px;
    padding-top: 15px;
    top: 50px;
    display: inline-grid;
    gap: 15px;
    box-sizing: border-box;
}

.container-popup-producto
{
    display: inline-grid;
    gap: 15px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 0px 30px #00000033;
    transition: .3s ease all;
    width: 100%;
    padding: 30px 20px;
    margin: 20px;
    border-radius: 10px;
    opacity: 0
}

.container-popup-producto.active
{
    opacity: 1
}

.container-header-popup
{
    display: flex;
    justify-content: center;
}

.container-header-popup h1
{
    margin: 0;
    margin-bottom: 10px;
}

.btn-cerrar-popup
{
    width: 200px;
    border: none;
    background-color: var(--principal);
    border-radius: 5px;
    color: white;
    height: 40px;
    font-size: 17px;
}

.container-btn-popup
{
    display: flex;
    justify-content: center;
}

.overlay.active
{
    visibility: visible;
}

.overlay
{
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}

.container-form-eliminar
{
    margin-top: 90px;
    height: 150px;
}

.container-cantidad
{
    display: flex;
}

.container-cantidad label
{
    width: 0;
}