.img-etiqueta {
  width: 70px;
}

.container-img-etiqueta {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: right;
}

.container-etiqueta {
  display: flex;
  justify-content: center;
}

.container-body-etiqueta {
  padding: 15px;
  width: 900px;
}

.container-info-etiqueta {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.container-info-cliente-etiqueta {
  display: inline-grid;
  gap: 6px;
  width: 100%;
}

.container-info-cliente-etiqueta label {
  font-size: 9px;
}

.container-info-cortes {
  display: grid;
  gap: 3px;
  text-align: center;
}

.text-titulo-etiqueta {
  margin-top: 12px;
  font-size: 14px;
  text-align: center;
}

.text-corte {
  font-size: 9px;
}

.separador {
  width: 5px;
  border-radius: 20px;
  background-color: black;
}

.container-footer-etiqueta {
  width: 100%;
  text-align: center;
  font-size: 9px;
  display: flex;
  align-items: center;
}

.container-text-peso {
  width: calc(100% - 100px);
  text-align: center;
}

.container-text-peso label {
  border: 2px solid black;
  padding: 2px 5px;
  border-radius: 20px;
  height: 15px;
  box-sizing: border-box;
}
