@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root
{
    --principal: #00C3E3;
    --fondo: #F3F5F9;
    --negro: #252A34;
    --rojo: #ff7777;
    --verde: #23e780;
}

textarea 
{
    resize: none;
}

.animacion-1
{
    -webkit-animation: top 1s .1s both;
    animation: top 1s .1s both;
}

.animacion-2
{
    -webkit-animation: top 1s .3s both;
    animation: top 1s .2s both;
}

.animacion-3
{
    -webkit-animation: top 1s .5s both;
    animation: top 1s .3s both;
}

p
{
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-general
{
    background-color: var(--principal);
    color: white;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 220px;
    outline: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    padding: 0 10px;
}

.form-aprobar-usuario
{
    display: inline-grid;
    gap: 25px;
    width: 400px;
}

.select-aprobar-usuario
{
    margin-bottom: 20px;
}

.container-filtro-stock
{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    width: 50%;
}

.btn-buscar
{
    background-color: var(--principal);
    border: none;
    border-radius: 5px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container-aprobar-usuario
{
    background-color: var(--fondo);
    height: calc(100vh - 70px);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-page-web, .container-page-web-productos-preparados
{
    background-color: var(--fondo);
    height: calc(100vh - 50px);
    box-sizing: border-box;
    padding: 4%;
}

.container-tabla-page-web-productos-preparados
{
    height: calc(100vh - 165px - 8%);
    display: flex;
    gap: 20px;
}

.btn-tabla-productos, .btn-tabla-imprimir
{
    background-color: var(--principal);
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-tabla-imprimir
{
    background-color: var(--rojo);
}

.container-from-usuarios
{
    min-width: 250px;
    display: inline-grid;
    gap: 20px;
    height: 100px
}

.container-mensaje
{
    text-align: center;
    padding-top: 30px;
}

@keyframes top 
{
    0% 
    {
        transform: translateY(-30px);
        opacity: 0;
    }
    
    100% 
    {
        opacity: 1;
        transform: none;
    }
}