@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root
{
    --principal: #00C3E3;
    --fondo: #F3F5F9;
    --negro: #252A34;
    --rojo: #ff7777;
    --verde: #23e780;
}

textarea 
{
    resize: none;
}

.animacion-1
{
    -webkit-animation: top 1s .1s both;
    animation: top 1s .1s both;
}

.animacion-2
{
    -webkit-animation: top 1s .3s both;
    animation: top 1s .2s both;
}

.animacion-3
{
    -webkit-animation: top 1s .5s both;
    animation: top 1s .3s both;
}

p
{
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes top 
{
    0% 
    {
        transform: translateY(-30px);
        opacity: 0;
    }
    
    100% 
    {
        opacity: 1;
        transform: none;
    }
}