.tbl-header, .tbl-header-web
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--principal);
    color: var(--negro);
}

.tbl-header-web
{
    border: 2px solid;
    color: var(--negro);
    background-color: #fff;
}

.tbl-content, .tbl-content-web, .tbl-content-buscar
{
    height: calc(100vh - 200px);
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid var(--principal);
}

.tbl-content
{
    height: calc(100vh - 300px);
}

.tbl-content-buscar
{
    height: calc(100vh - 370px)
}

.tbl-content-web 
{
    border: 2px solid #252a34;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    background-color: #fff;
}

table
{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

tbody 
{
    overflow: auto;
}

th, td 
{
    padding: 10px;
    text-align: left;
}

tr
{
    border-bottom: solid 1px var(--principal);
}

.tr-head-web
{
    border-bottom: none;
    height: 45px
}

.tr-web
{
    border-bottom: solid 1px #252a3438;
    background: #ffff;
    height: 60px
}

.tr-load
{
    border: none;
}

.text-btn-tabla, .text-tabla-desc, .text-tabla-desc-product
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
}

.text-tabla-desc-product
{
    max-width: none;
    padding: 10px;
}

.text-btn-tabla-productos
{
    max-width: 210px;
}

.text-tabla-desc
{
    padding: 10px;
}

.td-btn
{
    text-align: center;
    width: 80px;
}

.btn-table-deshacer
{
    background-color: var(--rojo);
    border-radius: 3px;
    border: none;
    width: 40px;
    padding-top: 5px;
    padding-bottom: 3px;
    cursor: pointer;
}

.btn-table-seleccionar
{
    background-color: transparent;
    font-size: 15px;
    padding: 10px 0;
    width: 100%;
    border: none;
}

.btn-tabla-controles
{
    border-radius: 5px;
    border: none;
    width: 42px;
    height: 40px;
    cursor: pointer;
}

.btn-editar
{
    background-color: var(--verde)
}

.text-error
{
    color: var(--principal);
}

.td-cant
{
    width: 30px;
}

.td-desc
{
    max-width: 216px;
}

.th-desc, .th-id
{
    text-align: center;
}

.th-id, .th-num
{
    width: 60px;
    box-sizing: border-box;
}

.th-cod, .td-cod
{
    width: 120px;
}

.th-cant-web, .td-cant-web
{
    width: 70px;
}

.th-cont, .td-cont
{
    width: 100px;
}

.td-controles
{
    display: flex;
    gap: 7px;
    justify-content: center;
}

.th-controles
{
    text-align: center
}

.td-estado, .th-estado
{
    width: 50px;
    text-align: center
}

.td-id
{
    width: 60px;
    box-sizing: border-box;
}