.container-info-productos
{
    display: flex;
    width: 100%;
    align-items: flex-end;
    gap: 10px;
}

.container-info-productos div
{
    width: calc(100% - 10px);
}

.textbox-date
{
    width: 10em;
}

.textbox-peso
{
    width: 80px;
}

.container-contador-productos
{
    align-items: center;
    display: flex;
}

.container-contador-caja-abierta
{
    position: absolute;
    bottom: 27px;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.container-contador-caja-productos 
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-contador-caja-productos img
{
    width: 80px;
    fill: var(--negro);
}