
.container-body
{
    box-sizing: border-box;
}

.container-form
{
    margin: 0 30px;
    background-color: white;
    position: absolute;
    width: calc(100% - 60px);
    height: calc(100% - 160px);
    border-radius: 10px;
    box-shadow: 0px 0px 30px #00000033;
    padding: 25px;
    padding-top: 15px;
    top: 50px;
    display: inline-grid;
    gap: 15px;
    box-sizing: border-box;
}

.text-usuario
{
    color: var(--principal);
}

.textarea-general
{
    height: 90px;
}