.container-controles
{
    position: absolute;
    top: 430px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-controles
{
    width: 105px;
    height: 90px;
    box-shadow: 0px 0px 30px #00000033;
    color: var(--negro);
    border-radius: 10px;
    border: none;
}

.btn-volver
{
    background-color: white;
}

.btn-continuar
{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--principal); 
}